.head {
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

main {
    min-height: 100%;
    height: 100%;
}

footer {
    position:fixed;
    bottom:0;
}

table {
    width:100% !important;
}